bandit==1.7.7
fastapi==0.109.0 # webserver
lxml==5.1.0 # for mypy html reports
mypy==1.8.0 # type checking
prometheus-client==0.19.0 # prometheus
prometheus-fastapi-instrumentator==6.1.0 # prometheus
pyarrow==15.0.0
pydantic==2.5.3 # for fastapi
pydantic_core==2.14.6 # for fastapi
pytest==7.4.4 # unit test
pytest-cov==4.1.0 # unit test coverage
pytest-html==4.1.1 # unit test coverage html report
pytest-metadata==3.0.0 # unit test
ruff==0.1.14 # linting and formatting
uvicorn==0.27.0 # webserver
